<DOCTYPE! html>
    <html lang="zh-CN">

    <head>
        <meta charset="utf-8">
        <title>welcome page</title>

        <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../css/style.css">
        <script type="text/javascript" src="../js/jquery-1.11.0.js"></script>
        <script type="text/javascript" src="../js/bootstrap.min.js"></script>

    </head>

    <body>

        <div class="header">
            <div class=".container">
                <div class="col	">
                    <div class="col-md-4"></div>
                    <div class="col-md-8">
                        <div class="col-md-2"><a href="#">登录</a>
                        </div>
                        <div class="col-md-2"><a href="#">JAVA</a>
                        </div>
                        <div class="col-md-2"><a href="#">FrameWork</a>
                        </div>
                        <div class="col-md-2"><a href="#">本站原创</a>
                        </div>
                        <div class="col-md-2"><a href="#">并发书籍</a>
                        </div>
                        <div class="col-md-2"><a href="#">关于本站</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content col">
            <div class="col-md-7 main">


            </div>
            <div class="col-md-1 gap"></div>
            <div class="col-md-4 right">


            </div>
        </div>


    </body>



    </html>
